name: CD Pipeline

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Deploy with Helm
        run: |
          helm upgrade --install myapp ./helm \
            --set image.repository=${{ secrets.DOCKER_USERNAME }}/myapp \
            --set image.tag=${{ github.ref_name }} \
            --set image.pullPolicy=Always \
            --namespace default \
            --create-namespace
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}
